#titulo-id {
    color: purple;
}

.cor-amarela {
    color: yellow;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
    font-size: 36px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

h2 {
    color: blueviolet;
}

.fundo-azul {
    background-color: rgb(22, 40, 83);
}

.fonte-grande {
    font-size: 50px;
}

#titulo-principal {
    background: black;
    color: white;
}

/* especifidade(importância) */